allow rild block_device:blk_file { open read };
allow rild default_prop:property_service set;
allow rild device:chr_file { ioctl open read };
allow rild system_data_file:dir { add_name write };
allow rild system_data_file:file { create open read setattr write };
allow rild unlabeled:file getattr;
allow rild system_data_file:dir remove_name;
allow rild system_data_file:file unlink;
